// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_ComposerTextInput {
    min-width: 0;
}

.o_ComposerTextInput_textarea {
    padding: 10px;
    max-height: 200px;
    resize: none;
    border-radius: 10px 0 0 10px;
    border: none;
    overflow: auto
}



.o_ComposerTextInput_mention_dropdown .o_mention_proposition_list {
    max-width: 1398.48px;

    .o_mention_proposition {
        display: flex;
        width: map-get($sizes, 100);
        padding: map-get($spacers, 2) map-get($spacers, 4);
        .o_mention_updatable_im_status {
            padding-inline-end: map-get($spacers, 2);
        }
        .o_mention_name {
            padding-inline-end: map-get($spacers, 2);
        }
    }
}

.o_mail_user_status {
    position: relative;
    &.fa-stack {
        width: 1em;
        height: 1em;
        line-height: 1em;
    }
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------

.o_ComposerTextInput > .note-editor {
    background-color: white;
    border: none;

    > .note-resizebar {
        display: none;
    }
}

.o_ComposerTextInput_mention_dropdown .o_mention_proposition_list {
  .o_mention_proposition {
        .o_mention_name {
            font-weight: $font-weight-bold;
        }
        .o_mention_info {
            font-style: italic;
            color: $gray-600;
        }
        .fa {
            font-size: $font-size-sm;
        }
    }
}

.o_mail_user_status {
    font-size: $font-size-base;
    &.o_user_online {
        color: $o-enterprise-primary-color;
    }
    &.o_user_idle {
        color: theme-color('warning');
    }
}
