// ------------------------------------------------------------------
// Layout
// ------------------------------------------------------------------

.o_FollowersMenu {
    margin-right: map_get($spacers, 3);
    position: relative;
}

.o_FollowersMenu_dropdown {
    display: flex;
    flex-flow: column;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: auto;
}

.o_FollowersMenu_followers {
    display: inline-block;
}

// ------------------------------------------------------------------
// Style
// ------------------------------------------------------------------



// ------------------------------------------------------------------
// Animation
// ------------------------------------------------------------------
